[Desktop Entry]
Type=Application
Name=Equate
GenericName=Calculator
GenericName[cs]=Kalkulačka
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[fr]=Calculatrice
GenericName[gl]=Calculadora
GenericName[it]=Calcolatrice
GenericName[pt]=Calculadora
GenericName[ru]=Калькулятор
GenericName[sk]=Kalkulačka
Comment=EFL Calculator
Comment[cs]=EFL Kalkulačka
Comment[eo]=Kalkulilo uzante EFL.
Comment[es]=Calculadora basada en las EFL.
Comment[fr]=Calculatrice utilisant les EFL.
Comment[gl]=Calculadora baseada nas EFL.
Comment[it]=Calcolatrice basata sulle EFL.
Comment[pt]=Uma calculadora para o EFL
Comment[ru]=Калькулятор
Comment[sk]=EFL Kalkulačka
Icon=equate
TryExec=equate
Exec=equate
Terminal=false
Categories=X-ENLIGHTENMENT;Utility;
StartupWMClass=equate
Keywords=calculation;arithmetic;
