[Desktop Entry]
Type=Application
Name=Entice
GenericName=Image Viewer
GenericName[cs]=Prohlížeč obrázků
GenericName[de]=Bildbetrachter
GenericName[es]=Visor de imágenes
GenericName[fr]=Visionneuse d'images
GenericName[hi]=छवि दर्शक
GenericName[it]=Visualizzatore d'immagini
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[sk]=Prehliadač obrázkov
Comment=Image Viewer
Comment[cs]=Prohlížeč obrázků
Comment[de]=Bildbetrachter
Comment[es]=Visor de imágenes
Comment[fr]=Visionneuse d'images
Comment[hi]=छवि दर्शक
Comment[it]=Visualizzatore d'immagini
Comment[pl]=Przeglądarka obrazów
Comment[pt]=Visualizador de imagens
Comment[sk]=Prehliadač obrázkov
Exec=entice %F
Icon=entice
Categories=Graphics;Viewer;
StartupWMClass=entice
MimeType=image/png;image/x-png;image/jpeg;image/pjpeg;image/jp2;image/jpx;image/x-xpixmap;image/x-xbitmap;image/tiff;image/gif;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/bmp;image/x-bmp;image/tga;image/x-icb;image/targa;application/targa;image/vnd.wap.wbmp;image/webp;image/x-icon;image/vnd.microsoft.icon;image/x-ico;image/icon;image/vnd.adobe.photoshop;image/vnd-ms.dds;image/avif;image/avif-sequence;image/heif;image/heif-sequence;image/heic;image/heic-sequence;image/x-xcf;image/svg+xml;image/svg+xml-compressed;image/x-dcraw;image/x-adobe-dng;image/x-canon-crw;image/x-canon-cr2;image/x-epson-erf;image/x-fuji-raf;image/x-kodak-dcr;image/x-kodak-k25;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-panasonic-raw;image/x-pentax-pef;image/x-sigma-x3f;image/x-sony-srf;image/x-sony-sr2;image/x-sony-arw
Keywords=Image;Viewer;Graphical;EFL;
Keywords[cs]=
Keywords[de]=Bild;Grafik;Betrachter;EFL;
Keywords[es]=Imagen;Visor;Gráfico;EFL;
Keywords[fr]=Image;Visionneuse;Graphique;EFL;
Keywords[hi]=
Keywords[it]=Immagine;Visualizzatore;Grafica;EFL;
Keywords[pl]=Obraz;Przeglądarka;Graficzna;EFL;
Keywords[pt]=Imagem;Visualizador;Gráfico;EFL;
Keywords[sk]=
