Package: moksha-module-drawer
Version: 0.1.1-1
Architecture: amd64
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Installed-Size: 466
Depends: libc6 (>= 2.34), libefl (>= 1.15.0), moksha
Section: utils
Priority: optional
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Description: Drawer module for the Moksha desktop
 Drawer gadgets for the Moksha desktop.
 .
 One can place a gadget of the shelf or desktop with 4 plugins.
