[Desktop Entry]
Type=Application
Name=Ecrire
Name[ca]=Ecrire
Name[cs]=Ecrire
Name[de]=Ecrire
Name[el]=Ecrire
Name[fi]=Ecrire
Name[gl]=Ecrire
Name[hi]=Ecrire
Name[it]=Ecrire
Name[ja]=Ecrire
Name[ka]=Ecrire
Name[ms]=Ecrire
Name[pl]=Ecrire
Name[sk]=Ecrire
Name[sr]=Писати
Name[tr]=Ecrire
Comment=Simple text editor
Comment[ca]=Editor de text simple
Comment[cs]=Jednoduchý textový editor
Comment[da]=Simpel tekstredigering
Comment[de]=Einfache Textbearbeitung
Comment[eo]=Simpla tekst-redaktilo
Comment[es]=Un simple editor de texto
Comment[fi]=Yksinkertainen tekstieditori
Comment[fr]=Un simple éditeur de texte
Comment[gl]=Un simple editor de texto
Comment[hi]=सरल पाठ संपादक
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディタ
Comment[ka]=მარტივი ტექსტური რედაქტორი
Comment[lt]=Paprastas tekstų redaktorius
Comment[ms]=Penyunting teks yang ringkas
Comment[pl]=Prosty edytor tekstu
Comment[pt]=Editor de texto
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sr]=Једноставан уређивач текста
Comment[tr]=Basit metin düzenleyici
Keywords=Text;editor;EFL;
Keywords[ca]=Text;editor;EFL;
Keywords[cs]=Text;editor;EFL;
Keywords[de]=Text;Editor;EFL;
Keywords[eo]=Teksto;redaktilo;EFL;
Keywords[es]=Texto;editor;EFL;
Keywords[fi]=Teksti;muokkain;editori;EFL;
Keywords[fr]=Texte;éditeur;EFL;
Keywords[ga]=Téacs;eagarthóir;EFL;
Keywords[it]=Testo;editor;EFL;
Keywords[ja]=テキスト;エディタ;EFL;
Keywords[pl]=Tekst;edytor;EFL;
Keywords[pt]=Texto;Editar;EFL;
Keywords[ru]=текст;текстовый редактор;
Keywords[sk]=Text;editor;EFL;
Keywords[sr]=Текст;едитор;EFL;
Keywords[tr]=Metin;düzenleyici;EFL;
Keywords[uk]=текст;редактор;EFL;
Keywords[zh_CN]=Text;editor;文本;编辑器;EFL;
Icon=ecrire
Exec=ecrire %f
Terminal=false
MimeType=text/plain;
Categories=Utility;TextEditor;
StartupNotify=true
