Name=Archive Manager
Name[af]=Argiefbestuurder
Name[am]=የመዝገብ ቤት መቆጣጠሪያ
Name[ar]=مُدير الأرشيفات
Name[as]=আৰ্কাইভ ম্যানেজাৰ
Name[ast]=Xestor d'archivadores
Name[az]=Arxiv İdarəçisi
Name[be]=Кіраўнік архіваў
Name[bg]=Работа с архиви
Name[bn]=আর্কাইভ ম্যানেজার
Name[bn_IN]=আর্কাইভ পরিচালন ব্যবস্থা
Name[br]=Ardoer dielloù
Name[bs]=Upravitelj arhivama
Name[ca]=Gestor d'arxius
Name[ca@valencia]=Gestor d'arxius
Name[cmn]=壓縮檔管理員
Name[cs]=Správce archivů
Name[cy]=Rheolydd Archifau
Name[da]=Arkivhåndtering
Name[de]=Archivverwaltung
Name[dz]=ཡིག་མཛོད་འཛིན་སྐྱོང་པ།
Name[el]=Πρόγραμμα διαχείρισης συμπιεσμένων αρχείων
Name[eo]=Arkivo-administrilo
Name[es]=Gestor de archivadores
Name[es_AR]=Gestor de archivadores
Name[es_CL]=Gestor de archivadores
Name[es_CO]=Gestor de archivadores
Name[es_CR]=Gestor de archivadores
Name[es_DO]=Gestor de archivadores
Name[es_EC]=Gestor de archivadores
Name[es_ES]=Gestor de archivadores
Name[es_MX]=Gestor de archivadores
Name[es_NI]=Gestor de archivadores
Name[es_PA]=Gestor de archivadores
Name[es_PE]=Gestor de archivadores
Name[es_PR]=Gestor de archivadores
Name[es_SV]=Gestor de archivadores
Name[es_UY]=Gestor de archivadores
Name[es_VE]=Gestor de archivadores
Name[et]=Arhiivihaldur
Name[eu]=Artxibo-kudeatzailea
Name[fa]=مدیر آرشیو
Name[fi]=Pakettienkäsittelyohjelma
Name[fr]=Gestionnaire d'archives
Name[fr_CA]=Gestionnaire d'archives
Name[fur]=Gjestôr di archivis
Name[fy]=Triemûnthâldbehear
Name[ga]=Bainisteoir Cartlann
Name[gl]=Xestor de arquivos
Name[gu]=પેટીનો વ્યવસ્થાપક
Name[he]=מנהל הארכיון
Name[hi]=अभिलेख प्रबंधक
Name[hr]=Upravljanje arhivom
Name[hu]=Archívumkezelő
Name[hy]=Արխիվի մենեջեր
Name[id]=Manajer Arsip
Name[ie]=Gerente de archives
Name[is]=Skráarsafnstjóri
Name[it]=Gestore di archivi
Name[ja]=書庫マネージャ
Name[ka]=არქივატორი
Name[kk]=Архивтер басқарушысы
Name[kn]=ಆರ್ಕೈವ್ ನಿರ್ವಾಹಕ
Name[ko]=압축 관리자
Name[ku]=Rêveberê Arşîvê
Name[ku_IQ]=Rêveberê Arşîvê
Name[ky]=Архив менеджери
Name[lt]=Archyvų tvarkytuvė
Name[lv]=Arhīvu pārvaldnieks
Name[mai]=अभिलेख प्रबंधक
Name[mg]=Mpandrindra arsiva
Name[mk]=Менаџер на архиви
Name[ml]=ശേഖരപാലകന്‍
Name[mn]=Архив Менежер
Name[mr]=आर्काइव्ह व्यवस्थापक
Name[ms]=Pengurus Arkib
Name[nb]=Arkivhåndtering
Name[nds]=Archivoppasser
Name[ne]=सङ्ग्रह प्रबन्धक
Name[nl]=Archiefbeheer
Name[nn]=Arkivhandsamar
Name[oc]=Gestionari d'archius
Name[or]=ଅଭିଲେଖ ପରିଚାଳକ
Name[pa]=ਅਕਾਇਵ ਮੈਨੇਜਰ
Name[pl]=Menedżer archiwów
Name[ps]=ارشيو سمبالګر
Name[pt]=Gestor de arquivos
Name[pt_BR]=Gerenciador de pacotes
Name[ro]=Administrator de arhive
Name[ru]=Менеджер архивов
Name[si]=සංරක්‍ෂණ කළමණාකරු
Name[sk]=Správca archívov
Name[sl]=Upravljalnik arhivov
Name[sq]=Menazhues arkivësh
Name[sr]=Управљач архива
Name[sr@latin]=Upravljač arhivom
Name[sv]=Arkivhanterare
Name[ta]=காப்பு மேலாளர்
Name[te]=సంగ్రహ అభికర్త
Name[th]=โปรแกรมจัดการแฟ้มจัดเก็บ
Name[tk]=Arşiw Mudyry
Name[tr]=Arşiv Yöneticisi
Name[ug]=ئارخىپ باشقۇرغۇچ
Name[uk]=Упорядник архівів
Name[ur]=محفوظہ منیجر
Name[ur_PK]=محفوظہ منیجر
Name[uz]=Arxiv Boshqaruvchisi
Name[vi]=Bộ quản lý kho
Name[xh]=Umphathi Kavimba
Name[zh_CN]=归档管理器
Name[zh_HK]=壓縮檔管理員
Name[zh_TW]=壓縮檔管理員
Comment=Create and modify an archive
Comment[af]=Skep en wysig 'n argief
Comment[am]=ማህደር መፍጠሪያ እና ማሻሻያ
Comment[ar]=أنشئ و عدّل أرشيفًا
Comment[as]=আৰ্কাইভ নিৰ্মাণ ও পৰিবৰ্তন কৰক
Comment[ast]=Crea y modifica un archivador
Comment[az]=Arxiv yaradın və açın
Comment[be]=Стварыць ці змяніць архіў
Comment[bg]=Създаване и промяна на архив
Comment[bn]=নতুন আর্কাইভ তৈরি ও পরিবর্ধন করা হবে
Comment[bn_IN]=আর্কাইভ নির্মাণ ও পরিবর্তন করুন
Comment[br]=Krouiñ ha daskemmañ un diell
Comment[bs]=Napravi i promijeni arhiv
Comment[ca]=Creeu i modifiqueu un arxiu
Comment[ca@valencia]=Crea i modifica un arxiu
Comment[cmn]=建立及更改壓縮檔
Comment[cs]=Vytvářet a upravovat archivy
Comment[cy]=Creu a newid archif
Comment[da]=Opret og ændr et arkiv
Comment[de]=Archive anlegen und verändern
Comment[dz]=ཡིག་མཛོད་གསར་བསྐྲུན་འབད་ནི་དང་ ལེགས་བཅོས་འབད་ནི།
Comment[el]=Δημιουργία και τροποποίηση ενός συμπιεσμένου αρχείου
Comment[eo]=Krei kaj modifi arkivon
Comment[es]=Cree y modifique un archivador
Comment[es_AR]=Cree y modifique un archivador
Comment[es_CL]=Cree y modifique un archivador
Comment[es_CO]=Cree y modifique un archivador
Comment[es_CR]=Cree y modifique un archivador
Comment[es_DO]=Cree y modifique un archivador
Comment[es_EC]=Cree y modifique un archivador
Comment[es_ES]=Cree y modifique un archivador
Comment[es_MX]=Cree y modifique un archivador
Comment[es_NI]=Cree y modifique un archivador
Comment[es_PA]=Cree y modifique un archivador
Comment[es_PE]=Cree y modifique un archivador
Comment[es_PR]=Cree y modifique un archivador
Comment[es_SV]=Cree y modifique un archivador
Comment[es_UY]=Cree y modifique un archivador
Comment[es_VE]=Cree y modifique un archivador
Comment[et]=Arhiivi loomine ja muutmine
Comment[eu]=Sortu eta aldatu artxibo bat
Comment[fa]=ایجاد و تغییر آرشیو 
Comment[fi]=Luo arkisto tai muokkaa arkistoa
Comment[fr]=Créer et modifier des archives
Comment[fr_CA]=Créer et modifier des archives
Comment[fur]=Cree e modifiche un archivi
Comment[fy]=Foarmje in triemûnthâld
Comment[ga]=Cruthaigh agus athraigh cartlann
Comment[gl]=Crear e modificar un arquivo
Comment[gu]=પેટી બનાવો અને સુધારો
Comment[he]=יצירה ועדכון של ארכיונים
Comment[hi]=अभिलेख बनाएँ तथा परिवर्धित करें
Comment[hr]=Stvori i izmijeni arhivu
Comment[hu]=Archívum létrehozása és módosítása
Comment[hy]=Կերտել և մոդիֆիկացնել արխիվը
Comment[id]=Membuat dan memodifikasi arsip
Comment[ie]=Crear e modificar un archive
Comment[it]=Crea e modifica un archivio
Comment[ja]=書庫を作成したり修正します
Comment[ka]=არქივის შექმნა და რედაქტირება
Comment[kk]=Архивті жасау және түзету
Comment[kn]=ಒಂದು ಆರ್ಕೈವನ್ನು ನಿರ್ಮಿಸು ಹಾಗು ಮಾರ್ಪಡಿಸು
Comment[ko]=압축 파일을 만들고 수정합니다
Comment[ku]=Arşîvekê çêbike an jî biguherîne
Comment[ku_IQ]=Arşîvekê çêbike an jî biguherîne
Comment[ky]=Архивди жаратуу же өзгөртүү
Comment[lt]=Kurti ir modifikuoti archyvą
Comment[lv]=Izveidot arhīvus un mainīt to saturu
Comment[mai]=अभिलेख बनाबू आओर परिवर्धित करू
Comment[mg]=Mamorona sy manova arsiva
Comment[mk]=Креирај и измени архива
Comment[ml]=ഒരു പുതിയ ശേഖരം നിര്‍മ്മിക്കുകയോ മാറ്റം വരുത്തുകയോ ചെയ്യുക
Comment[mn]=Архив үүсгэх ба өөрчилөх
Comment[mr]=आर्काइव्ह निर्माण व संपादीत करा
Comment[ms]=Cipta dan ubahsuai arkib
Comment[nb]=Opprett og endre arkiv
Comment[ne]=एउटा सङ्ग्रह सिर्जना गर्नुहोस् र परिमार्जन गर्नुहोस्
Comment[nl]=Archieven maken en wijzigen
Comment[nn]=Lag og endra arkiv
Comment[oc]=Crear e modificar un archiu
Comment[or]=ଗୋଟିଏ ଅଭିଲେଖକୁ ସ୍ରୁଷ୍ଟି ଏବଂ ରୂପାନ୍ତରିତ କରନ୍ତୁ
Comment[pa]=ਇੱਕ ਅਕਾਇਵ ਬਣਾਓ ਅਤੇ ਸੋਧੋ
Comment[pl]=Tworzenie i modyfikowanie archiwów
Comment[ps]=ارشيو جوړول او بدلول
Comment[pt]=Criar e modificar um arquivo
Comment[pt_BR]=Crie e modifique um pacote
Comment[ro]=Creează și modifică o arhivă
Comment[ru]=Создать или изменить архив
Comment[si]=සංරක්‍ෂණයක් නිර්මාණය කරන්න සහ වෙනස් කරන්න
Comment[sk]=Vytvoriť a upraviť archív
Comment[sl]=Ustvari in spremeni arhiv
Comment[sq]=Krijo dhe ndrysho një arkiv
Comment[sr]=Направите нове и распакујте постојеће архиве
Comment[sr@latin]=Napravite nove i raspakujte postojeće arhive
Comment[sv]=Skapa och ändra ett arkiv
Comment[ta]=காப்பு உருவாக்குதல் அல்லது திருத்துதல்
Comment[te]=సంగ్రహమును సృష్టించు మరియు మార్చు
Comment[th]=สร้างและแก้ไขแฟ้มจัดเก็บ
Comment[tk]=Bir arşiwi bejerip üýtget
Comment[tr]=Bir arşiv yarat ve değiştir
Comment[ug]=ئارخىپ قۇرۇپ ئۆزگەرت
Comment[uk]=Програма створення та зміни архівів
Comment[ur]=محفوظہ بنائیں اور تبدیل کریں
Comment[ur_PK]=محفوظہ بنائیں اور تبدیل کریں
Comment[uz]=Arxivni yaratish va o'zgartirish
Comment[vi]=Tạo và sửa đổi tập tin lưu trữ 
Comment[xh]=Yakha uze ulungise uvimba
Comment[zh_CN]=创建并修改归档文件
Comment[zh_HK]=建立及更改壓縮檔
Comment[zh_TW]=建立及更改壓縮檔
